<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="index.js"></script> -->
</head>
<body>
    <h1>Welcome to the Rewards Dashboard</h1>
    <div>
        <h2>Reward Tiers</h2>
        <table border="1">
            <tr>
                <th>Rewards Tier<th>
                <th>Reward Points</th>
                <th>Rewards Tier Name</th>
            </tr>
            {% for reward in rewards_data %}
                <tr>
                    <td>{{ reward.tier }}<td>
                    <td>{{ reward.points }}</td>
                    <td>{{ reward.rewardName }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr>
    </div>
    <div>
        <h2>Add orders</h2>
        <form>
            <label>Enter email address: </label><input id="customer-update-email-js" type="text" value="bob@thebobsociety.com"/><br>
            <label>Enter order total: </label><input id="customer-update-total-js" type="text" value="10"/><input id="customer-update-btn-js" type="button" value="Submit Order"/>
            <br />
            <img id="update-error-js" src="https://image.freepik.com/free-icon/signal-warning_318-28476.jpg" width="20px" style="display: none"/>
            <img id="update-spin-js" src="https://www.wallies.com/filebin/images/loading_apple.gif" width="20px" style="display: none"/>
            <label id="update-status-js" style="font-weight: bold; margin-left: 5px;"></label>
        </form>
        <hr>
    </div>
    <div>
        <h2>User Rewards</h2>
        <form>
            <label>Email address: </label><input id="email-search-box-js" type="text" value="bob@thebobsociety.com"/><input id="email-search-button-js" type="button" value="Search"/>
            <input id="email-search-button-all-js" type="button" value="Show All Records"/>
            <br />
            <img id="email-search-error-js" src="https://image.freepik.com/free-icon/signal-warning_318-28476.jpg" width="20px" style="display: none"/>
            <img id="email-search-spin-js" src="https://www.wallies.com/filebin/images/loading_apple.gif" width="20px" style="display: none"/>
            <label id="email-search-status-js" style="font-weight: bold; margin-left: 5px;"></label>
        </form>
        <table border="1" id="customer-results-js">
            <thead>
            <tr>
                <th>Email Address</th>
                <th>Reward Points</th>
                <th>Reward Tier</th>
                <th>Reward Tier Name</th>
                <th>Next Reward Tier</th>
                <th>Next Reward Tier Name</th>
                <th>Next Reward Tier Progress</th>
            </tr>
            </thead>
            <tbody id="customer-list-js">
                {% for user in users_data %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.points }}</td>
                        <td>{{ user.tier }}</td>
                        <td>{{ user.tier_name }}</td>
                        <td>{{ user.next_tier }}</td>
                        <td>{{ user.next_tier_name }}</td>
                        <td>{{ user.next_tier_progress }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script type="text/javascript">
// globals are usually bad. Quick and dirty state management.
var STATUS_SEARCH_SUCCESS   = 1;
var STATUS_UPDATE_SUCCESS   = 2;
var STATUS_SEARCHING        = 3;
var STATUS_SEARCH_FAILED    = 4;
var STATUS_UPDATING         = 5;
var STATUS_UPDATE_FAILED    = 6;
var global_status           = STATUS_SEARCH_SUCCESS;

function set_page_status(status) {
    if (status == STATUS_SEARCHING) {
        $('#email-search-error-js').hide();
        $('#email-search-spin-js').show();
        $('#email-search-status-js').text('Searching....');
        $('#email-search-status-js').show();
        $('#customer-list-js tr').remove();
        $('#customer-results-js').hide();
    } else if (status == STATUS_SEARCH_FAILED) {
        $('#email-search-error-js').show();
        $('#email-search-spin-js').hide();
        $('#email-search-status-js').text('No Records Found.');
        $('#email-search-status-js').show();
        $('#email-search-button-all-js').show();
    } else if (status == STATUS_SEARCH_SUCCESS) {
        $('#email-search-error-js').hide();
        $('#email-search-spin-js').hide();
        $('#email-search-status-js').hide();
        $('#customer-results-js').show();
    }
}

function page_busy() {
    return global_status == STATUS_SEARCHING || global_status == STATUS_UPDATING;
}

var search = function(email){
    set_page_status(STATUS_SEARCHING);
    search_api = function(){
        if (email != '') {
            email = '/' + email
        }
        return $.ajax({
            'url':'http://localhost:7050/users' + email,
            'method':'GET',
        });
    };
    success = function(data) {
        // console.log(data);
        data = $.parseJSON(data);
        if (data.length < 1) {
            set_page_status(STATUS_SEARCH_FAILED);
            return;
        }
        set_page_status(STATUS_SEARCH_SUCCESS);
        if (data.lenth == 1) {
            $('#email-search-button-all-js').show();
        }
        for (i = 0; i < data.length; i++) {
            elem = $('#customer-list-js').append('<tr></tr>');
            $('#customer-list-js tr').last().append('<td>' + data[i]['email'] + '</td>');
            $('#customer-list-js tr').last().append('<td>' + data[i]['points'] + '</td>');
            $('#customer-list-js tr').last().append('<td>' + data[i]['tier'] + '</td>');
            $('#customer-list-js tr').last().append('<td>' + data[i]['tier_name'] + '</td>');
            $('#customer-list-js tr').last().append('<td>' + data[i]['next_tier'] + '</td>');
            $('#customer-list-js tr').last().append('<td>' + data[i]['next_tier_name'] + '</td>');
            $('#customer-list-js tr').last().append('<td>' + data[i]['next_tier_progress'] + '</td>');
        }
    }
    failure = function() {
        set_page_status(STATUS_SEARCH_FAILED);
    }
    res = search_api().then(success, failure).then(function(){
    });
}

var update = function(email, total){
    set_page_status(STATUS_UPDATING);
    update_api = function(){
        return $.ajax({
            'url':'http://localhost:7050/users/' + email,
            'method':'PUT',
            'data':{
                'total':total,
            }
        });
    };
    success = function(data) {
        console.log(data)
        set_page_status(STATUS_UPDATE_SUCCESS);
    }
    failure = function() {
        set_page_status(STATUS_UPDATE_FAILED);
    }
    res = update_api().then(success, failure).then(function(){
    });
}

// INPUT LISTENERS -- search
$('#email-search-button-js').click(function() {
    if (page_busy()) { return };
    email = $('input#email-search-box-js').val();
    search(email);
});
$('#email-search-box-js').keypress(function(e) {
    if (page_busy()) { return };
    if (e.keyCode !== 13) { return; }
    e.preventDefault();
    email = $('input#email-search-box-js').val();
    search(email);
});
$('#email-search-button-all-js').click(function() {
    if (!page_busy()) { search(''); }
});

// INPUT LISTENERS -- update
function submit_update() {
    console.log(global_status);
    if (page_busy()) { return };
    email = $('#customer-update-email-js').val();
    total = $('#customer-update-total-js').val();
    console.log('up')
    update(email, total);
}
$('#customer-update-btn-js').click(function() {
    submit_update();
});
$('#customer-update-total-js').keypress(function(e) {
    if (e.keyCode !== 13) { return; }
    e.preventDefault();
    submit_update();
});
</script>
</html>
